.project-container{
  flex: 1;
}

.project-details{
  padding: 2rem;
}

.project-details h1,
.project-details h2,
.project-details p{
  margin-bottom: .5rem;
}

.project-details h1{
  background-color: #222;
  color: #ffbb33;
  padding: .4rem;
}

.project-details span{
  font-weight: bold;
}

.project-info{
  flex: 1;
}

.details-container,
.service-form-container{
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.alt-btn{
  max-height: 40px;
}
