* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* utility */
.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min-height {
  min-height: 75%;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
